{%extends 'main.html' %}
{% block body %} <h1>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/secteur_prive.css">
    <title>Secteur Prive</title>
</head>
<body>

    <!-- <div class="empty_navbar"></div> -->
    <div class="container_site">
        <div class="path_page">
            <p>Accueil / Emploi</p>
        </div>
        <div class="title_page">
            <h1>Emploi</h1>
        </div>
        <div class="short_para">
            <p>Emploi Maroc: Retrouvez sur cette page les dernières offres d'emploi et annonces de recrutement au Maroc.</p>
        </div>

        <div class="post_and_lastest">
        <div class="posts_container">
            <div class="post_1">
                <div class="img_post">
                    <img class="img_post_article" src="/static/image/main-post.webp">
                </div>
                <div class="text_post">
                    <div class="caty">
                        <p>EMPLOI PUBLIC</p>
                    </div>
                    <div class="title_post">
                        <p>Atlas Multiservices recrute des Duty Officers</p>
                    </div>
                    <div class="date">
                        <img src="/static/image/icons8-clock-15.png">
                        <p>27/11/2023</p>
                    </div>
                </div>
            </div>
            <div class="post_1">
                <div class="img_post">
                    <img class="img_post_article" src="/static/image/2.webp">
                </div>
                <div class="text_post">
                    <div class="caty">
                        <p>EMPLOI PUBLIC</p>
                    </div>
                    <div class="title_post">
                        <p>Université Mundiapolis recrute Plusieurs Profils</p>
                    </div>
                    <div class="date">
                        <img src="/static/image/icons8-clock-15.png">
                        <p>27/11/2023</p>
                    </div>
                </div>
            </div>
            <div class="post_1">
                <div class="img_post">
                    <img class="img_post_article" src="/static/image/2.webp">
                </div>
                <div class="text_post">
                    <div class="caty">
                        <p>EMPLOI PUBLIC</p>
                    </div>
                    <div class="title_post">
                        <p>Université Mundiapolis recrute Plusieurs Profils</p>
                    </div>
                    <div class="date">
                        <img src="/static/image/icons8-clock-15.png">
                        <p>27/11/2023</p>
                    </div>
                </div>
            </div>
            <div class="post_1">
                <div class="img_post">
                    <img class="img_post_article" src="/static/image/2.webp">
                </div>
                <div class="text_post">
                    <div class="caty">
                        <p>EMPLOI PUBLIC</p>
                    </div>
                    <div class="title_post">
                        <p>Université Mundiapolis recrute Plusieurs Profils</p>
                    </div>
                    <div class="date">
                        <img src="/static/image/icons8-clock-15.png">
                        <p>27/11/2023</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lastest_post">
            <div class="title_lastest">
                <h4>Offres <span class="title_part">Premium</span></h4>
            </div>
            <div class="container_post_sidebar">
                <div class="post_sidebar">
                    <div class="side_bar_post_img">
                        <img class="img_post_article" src="/static/image/post_1.webp">
                    </div>
                    <div class="side_bar_post_text">
                        <div class="title_side">
                            <p>RCBF Consulting recrute des Consultants Commerciaux sur Rabat</p>
                        </div>
                        <div class="title_date">
                            <img src="/static/image/icons8-clock-15.png">
                            <p>27/11/2023</p>
                        </div>
                    </div>
                </div>
                <div class="post_sidebar">
                    <div class="side_bar_post_img">
                        <img class="img_post_article" src="/static/image/post_1.webp">
                    </div>
                    <div class="side_bar_post_text">
                        <div class="title_side">
                            <p>RCBF Consulting recrute des Consultants Commerciaux sur Rabat</p>
                        </div>
                        <div class="title_date">
                            <img src="/static/image/icons8-clock-15.png">
                            <p>27/11/2023</p>
                        </div>
                    </div>
                </div>
                <div class="post_sidebar">
                    <div class="side_bar_post_img">
                        <img class="img_post_article" src="/static/image/post_1.webp">
                    </div>
                    <div class="side_bar_post_text">
                        <div class="title_side">
                            <p>RCBF Consulting recrute des Consultants Commerciaux sur Rabat</p>
                        </div>
                        <div class="title_date">
                            <img src="/static/image/icons8-clock-15.png">
                            <p>27/11/2023</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
</body>
</html>
</h1>
<div style="height: 220px; width: 90%; background-color: bisque;margin: auto;"></div>
{% endblock %}

<!-- {% block head %} {% endblock %} -->