.login_part {
  height: 700px;
  width: 100%;
  /* border: 4px blue solid; */
  display: flex;
}
.rights {
  width: 50%;
  background-color: rgb(226, 237, 237);
  background: linear-gradient(to right, rgb(0, 157, 255)) rgb(117, 177, 255);
  border-radius: 30px;

  height: 100;
  display: inherit;
  flex-direction: column;
  /* padding: 10px; */
  align-items: center;
  /* justify-content: center; */
  /* justify-content: space-around; */
}
.lefts {
  height: 100%;
  /* background-color: bisque; */
  background-image: url(../image/login.jpg);
  background-size: cover;

  width: 50%;
}

.login_fieldset{
  height: 70%;
  /* margin: auto; */
}

.form_login{
  height: 70%;
  margin: auto;
  /* background-color: black; */
  border: 1px solid black;
}

.login-grp_remember{
  width: 60%;
  margin-bottom: 10px;
  margin-left: 30px;
  height: 45px;
  /* border: 1px solid black; */
}

.login-grp_remember p{
  font-size: 16px;
  color: black;
}

.input_zone_login{
  height: 45px;
  border-radius: 40px;
  padding: 3px;
  font-size: 18px;
  margin-top: 5px;
  width: 300px;
  border: 1px solid grey;
}

.login-btns{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.login-grp{
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  flex-direction: column;
}
.flash_message_success{
width: 200px;
height: 70;
}
.register-grp_btn{
width: 150px;
border-radius: 5px;
border: 1px solid grey;
font-size: 19px;
height: 40px;
}

button{
	width: 150px;
	border-radius: 5px;
	border: 1px solid grey;
	font-size: 19px;
	height: 40px;
}
