<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil   Secteur privee    Secteur publique</title>
</head>
<body>

    <h1>Bienvenue sur votre site de recrutement</h1>

    <p>Ce site offre des opportunités passionnantes pour les chercheurs d'emploi et les entreprises à la recherche de talents.</p>

    <h2>Dernières offres d'emploi</h2>
    <ul>
        <li>conseiller technique - Intelcia</li>
	<br>
	<li>conseiller client - Sitel</li>
        <!-- Ajoutez d'autres offres d'emploi au besoin -->
    </ul>

    <h2>À propos de nous</h2>
    <p>Nous nous engageons à connecter les professionnels talentueux avec des opportunités de carrière passionnantes.</p>

    <footer>
        <p>Contactez-nous : zhaci001@gmail.com</p>
    </footer>

</body>
</html>

